

.flexContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}


nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 50px;
  width: 100%;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.sectionOne {
  display: inline-block;
  width: 100%;
  background-color: rgb(31, 82, 111);
  justify-content: center;
  
}

.cityPic {
  display: inline-flex;
  justify-content: center;
  width: 50%;
}

.secondBar {
  width:100%;
  padding-bottom:5px;
  padding-top: 5px;
  background-color: rgb(31, 82, 111);
}

#npmLogo {
  display: inline-block;
  height: 50px;
  width: 10%;
}

.secondBar input{
  display: inline-block;
  height:50px;
  width: 78%;
}

.secondBar button {
  display: inline-block;
  height:50px;
  width: 10%
}

.section2 {
  display: inline-block;
  padding-inline-start: 20%;
  padding-inline-end: 20%;
  background-color: rgb(39, 53, 71);
}

.collabPic {
  float: left;
  width: 35%;
}

.collabList {
  display: inline-block;
}

.section2 button {
  display: inline-block;
  align-self: bottom;
}

.section3Pic {
  display: inline-block;
  background-size: cover;
  width: 100%;
}

.section4 {
  display: flex;
  text-align: center;
  align-items: center;
}

